#==============================================================================#
# Project specific
#==============================================================================#
.ignore/
out/
test.txt
test.csv

#==============================================================================#
# PYTHON
#==============================================================================#
__pycache__/
env/
build/
dist
*.egg-info/
.pytest_cache/
.tox/
.mypy_cache/
.coverage
htmlcov/

#==============================================================================#
# IntelliJ
#==============================================================================#
.idea/
*.iml
